<app-landing></app-landing>
<div class="steps">
    <ul>
        <!-- <li *ngFor="let item of steps">
            <div class="step">
                <i class="fas {{icons[steps.indexOf(item)]}}"></i>
                <div class="content">
                    <h5>{{steps.indexOf(item)+1}} الخطوة</h5>
                    <p>{{item}}</p>
                </div>
            </div>
        </li> -->

        <li>
            <div class="step"
            routerLink="location">
                <i class="fas fa-map-marker-alt"></i>
                <div class="content">
                    <h5>1 {{'step'| translate}}</h5>
                    <p>{{'choose-location' | translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="step">
                <i class="fas fa-list-alt"></i>
                <div class="content">
                    <h5>2 {{'step'| translate}}</h5>
                    <p>{{'package' | translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="step"
                routerLink="workers">
                <i class="fas fa-user"></i>
                <div class="content">
                    <h5>3 {{'step'| translate}}</h5>
                    <p>{{'worker' | translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="step">
                <i class="fas fa-info-circle"></i>
                <div class="content">
                    <h5>4 {{'step'| translate}}</h5>
                    <p>{{'details' | translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="step">
                <i class="fas fa-paperclip"></i>
                <div class="content">
                    <h5>5 {{'step'| translate}}</h5>
                    <p>{{'contract' | translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="step">
                <i class="fas fa-money-bill-wave"></i>
                <div class="content">
                    <h5>6 {{'step'| translate}}</h5>
                    <p>{{'attach' | translate}}</p>
                </div>
            </div>
        </li>
        <li>
            <div class="step">
                <i class="fas fa-credit-card"></i>
                <div class="content">
                    <h5>7 {{'step'| translate}}</h5>
                    <p>{{'payment' | translate}}</p>
                </div>
            </div>
        </li>
    </ul>
    <router-outlet></router-outlet>
    <div class="actoins-btns">
        <button class="next-btn">{{'next' | translate}}</button>
        <button class="prev-btn">{{'previous' | translate}}</button>
    </div>
</div>