/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.google.com/specimen/Tajawal");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    user-select: none;
}

